profile-popover {
	$modal-window-width: 320px;
	$avatar-border: 1px solid $light-grey;
	$border-radius: 5px;
	$modal-box-shadow: 0 3px 3px 2px $light-grey;
	$btn-box-shadow: 0 1px 3px 0px $light-grey;
	$animation-duration: 0.2s;

	/*Delete when provide logic*/
	display: block;
	position: absolute;
	width: 100%;
	height: 100vh;

	.profile-popover-container {
		/*Delete when provide logic*/
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		position: absolute;
		width: $modal-window-width;
		min-width: $modal-window-width;
		padding: $lg-space;
		border-radius: $border-radius;
		box-shadow: $modal-box-shadow;

		opacity: 0;
		transition: opacity 0.3s;

		.avatar {
			flex-basis: 100%;
			border-radius: $border-radius;
			overflow: hidden;
			margin-bottom: $lg-space;
		}

    hr {
      width: 100%;
      height: 1px;
      border: 0;
      border-top: 1px solid $light-grey;
    }

		.profile-name {
			margin-bottom: $lg-space;
			font: $font-xl-bold;
		}

		.profile-info {
			margin-bottom: $md-space;

			.info-header {
				color: $grey;
			}

			.info-text {
				@include overflow-elipsis;

				display: block;
			}
		}

		.buttons {
			justify-content: space-between;
		}
	}

	.active {
			opacity: 1;
	}
}
