<div class="container-column-fluid profile-popover-container active">
	<div class="avatar">
		<img class="img-responsive"
				src="assets/img/img_place_holder.png"
				alt="Vasyl kit">
	</div>
  <hr>
	<div class="profile-name">
		<span>Vasiliy</span>
		<span>Profilenko</span>
	</div>
	<div class="profile-info container-row-fluid">
		<span class="info-header col-4">nickname</span>
		<span class="info-text col-8"
					title="vasya_smert_nosatym"
					>vasya_smert_nosatym</span>
	</div>
	<div class="profile-info container-row-fluid">
		<span class="info-header col-4">skype</span>
		<span class="info-text col-8"
			title="mutherfucker"
			>mutherfucker</span>
	</div>
	<div class="profile-info container-row-fluid">
		<span class="info-header col-4">e-mail</span>
		<span class="info-text col-8"
			title="inlove.kitekat@skuricoi.com"
			>inlove.kitekat@skuricoi.com</span>
	</div>
	<div class="buttons container-row-fluid">
		<button class="btn btn-green col-7 move-center" ui-sref="editprofileMockup">Edit profile</button>
		<button class="btn btn-white col-2 move-center oli-settings"></button>
		<button class="btn btn-white col-2 move-center oli-arrow"></button>
	</div>
</div>
