<br>
<br>
<button ng-click="ctrl.getAllUsers()">Get Users</button>
<button ng-click="ctrl.createUser(ctrl.newUser)">Create User</button>
<br>
<br>
<ul>
	<li ng-repeat="user in ctrl.allUsers">
		{{ user.name }}
		<button ng-click="ctrl.deleteUser(user)">Delete User</button>
		<button ng-click="ctrl.updateUser(user, ctrl.updatedUser)">Update User</button>
	</li>
</ul>