<div class="profile col-2 container-row-fluid vertical-center">
	<!--Provide shared component for avatar-->
	<div class="avatar-container">
		<img ng-src="assets/img/img_place_holder.png"
				class="avatar"
				alt="UserName">
	</div>
	<span class="col-8 nickname">
		Vasiliy Petrovich Profilenko
	</span>
</div>
<div class="scroll-container container-column-fluid">
	<div class="scroll default">
		<h4 class="head group-head">Groups</h4>
		<ul class="list-group">
			<li ng-repeat="group in $ctrl.groupList" class="list-item oli-hashtag">
				<a href="#" class="list-text"
				>{{ group.name }}</a>
			</li>
		</ul>
		<h4 class="head">Users</h4>
		<ul class="users list-group">
			<li ng-repeat="user in $ctrl.userList" class="list-item oli-circle">
				<a href="#" class="list-text"
				>{{ user }}</a>
			</li>
		</ul>
	</div>
</div>