<div class="container container-row-fluid">
    <div class="message-sender-photo" ng-if="!$ctrl.message.iterative">
        <div class="avatar">
            <img src="assets/img/img_avatar_mini.png" alt="Avatar">
        </div>
    </div>
    <div class="container-column-fluid">
        <div class="message-content-header" ng-if="!$ctrl.message.iterative">
            <span href="#" class="message-sender-name move-left">{{ $ctrl.message.author }}</span>
            <span class="message-send-time"> 10:41</span>
        </div>
        <div class="container-row-fluid" ng-class="$ctrl.message.iterative ? 'message-without-name-and-photo' : null">
            <div class="message-body col-10">
                <span>{{ $ctrl.message.messageBody }}</span>
            </div>
        </div>
    </div>
</div>

<!--<div class="container container-row-fluid next">
    <div class="message-sender-photo">
        <div> 12:45 </div>
    </div>
    <div class="container-row-fluid">
        <div class="message-body container-column-fluid">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation 
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
            <i ng-click="messageCtrl.isLiked()" ng-class="messageCtrl.isLikeClass"></i>
    </div>
</div>-->