<main class="container-column-fluid">
    <header class="container-row-fluid xs-header col-2">
        <div class="col-2 container-column-fluid xs-contact-container reciever-info">
            <div class="mobile-menu">
                <a class="oli-layers icon-center" ng-click="$ctrl.toggleSideBar()"></a>
            </div>
            <div class="container-row-fluid vertical-center">
                <span class="contact-name">ContactName2<span>
            </div>
            <div  class="container-row-fluid vertical-center ident-container">
                    <div class="vertical-center star-container">
                        <a class="oli-star icon-center"></a>
                    </div>
                    <div class="state-block container-row-fluid vertical-center">
                        <div class="state-ident status-active"></div>
                        <span class="state-name">away</span>
            </div>
        </div>
        </div>
        <div class="col-5 col-xs-3 vertical-center move-right xs-dashboard">
            <div class="header-button">
                <a class="oli-settings icon-center"></a>
            </div>
            <div class="header-button">
                <a ui-sref="profile-popover" class="oli-new-file icon-center"></a>
            </div>
            <div class="icon-holder oli-search holder-short verttical-center">
                <input class="input-search">
            </div>
            <div class="header-button">
                <a class="oli-star icon-center"></a>
            </div>
            <div class="header-button">
                <a class="oli-option icon-center"></a>
            </div>
        </div>
    </header>
    <div class="message-area scroll inverse always-visible" scroll-bottom="$ctrl.allMessages">
        <div class="container-column-fluid">
            <message-container ng-repeat="message in $ctrl.allMessages track by $index" message="message"></message-container>
        </div>
    </div>
    <footer class="container-row-fluid">
        <div class="message-wrapper">
            <div class="file-button">
                <a class="oli-download icon-center file-button-icon" title="Upload file"></a>
            </div>
            <div class="oli-plus container-row-fluid">
                <textarea elastic 
                          name="input"
                          class="input-message scroll default always-visible" 
                          ng-model="$ctrl.messageData.messageBody" 
                          ng-keyup="$ctrl.sendMessage($event, 13, $ctrl.messageData)" 
                          placeholder="message"></textarea>
            </div>
        </div>
    </footer>
</main>