@import 'message-container/message-container';
@import 'side-bar/side-bar';
@import 'main-panel/main-panel';

$main-mockup-min-width: 320px;

main-mockup {
	@extend .container-row-fluid;

	min-width: $main-mockup-min-width;
	height: calc(100vh);
	position: relative;

	@media (max-width: 769px) {
		overflow-x: hidden;
	}
}