@import './main-mockup/main-mockup';
@import './auth-mockup/auth-mockup';
@import './editprofile-mockup/editprofile-mockup';
@import './profile-popover/profile-popover';

.mockup-list {
  padding: 15px;
}

.mockup-list li {
  margin-bottom: 15px;
}

a {
  color: #007ab8;
  text-decoration: none;
}

span {
  font-size: 14px;
}
