<ul class="mockup-list">
	<li>
		<a ui-sref="mainMockup">Main Mockup</a> <span>(by )</span>
	</li>
	<li>
		<a ui-sref="signInMockup">Sign In</a> / <a ui-sref="signUpMockup">Sign Up</a> <span>(by Vitalii)</span>
	</li>
	<li>
		<a ui-sref="editprofileMockup">Edit Profile Mockup</a> <span>(by Galia)</span>
	</li>
	<li>
		<a ui-sref="profile-popover">Popover</a>
	</li>
</ul>