sign-up-mockup {
  .btn[type="submit"] {
    margin-top: 10px;
  }

  .btn[name="sign_up"] {
    width: 100%;
  }

  .back-to-login-page {
    left: -8px;
  }

  a[class*="oli-log-in"]::before {
    right: -20px;
    top: 0;
  }
}
