sign-in-mockup {
  .btn-group {
    margin-top: 10px;

    & > * {
      width: 50%;
    }
  }

  .sign_up.btn {
    position: relative;
    margin-left: 7px;

    & > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 40px;
      color: $deep-grey;
    }
  }

  .sign-in-error {
    padding: $sm-space 0;
    color: $err-red;
    font-size: $font-size-md;
    font-weight: 400;
    line-height: $font-size-lg;

    &:before {
      position: static;
      margin-right: $sm-space;
    }
  }
}
